.loader{
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('image/loader.gif') 50% 50% no-repeat #101010;
            
        }
        .hero{
            background: url('image/glitch.gif') 50% 0%;
            background-repeat: no-repeat;
            width: 100%;
            height: 768px;
        }
        body{
            background: url('image/overlay.png') ,url('image/bk2.jpg');
            margin: 0;
        }
        .crd{
            float: left;
            min-height: 200px;
            height: 200px;
            min-width: 350px;
            width: 350px;
            background: rgba(255,255,255,0.05);
            border-radius: 5px;
            box-shadow: 0px 10px 25px 1px rgba(0,0,0,0.2);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;

        }

        .crd_title{
            font-family: 'Rajdhani', sans-serif; 
            color: #e6e7e7; 
            font-size: 15pt; 
            font-weight: bold; 
            padding-top: 5px; 
            padding-bottom: 5px;
            background: rgba(255,255,255,0.03);
        }

        .crd_body{
            font-family: 'Rajdhani', sans-serif; 
            color: rgba(255,255,255,0.6); 
            font-size: 10pt; 
            padding-left: 5px; 
            padding-right: 5px; 
            padding-top: 10px; 
            padding-bottom: 10px;
        }

        .k_m{
            font-family: 'Rajdhani', sans-serif; 
            color: rgba(255,255,255,0.9); 
            font-size: 10pt; 
            padding-left: 15px; 
            padding-right: 15px; 
            padding-top: 5px; 
            padding-bottom: 5px; 
            background: rgba(205,30,63,1); 
            border: 2px solid rgba(255,255,255,0.4); 
            display: inline; 
            cursor: pointer;
        }

        .about{
            min-height: 500px;
            min-width: 100%;
            background: #e1382d;
            background-size: cover;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 100px
        }

        .pop{

            z-index: 2;
            width: 100%;
            height: 100%;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
           background: -moz-linear-gradient(45deg, rgba(248,80,50,1) 37%, rgba(231,56,39,1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(37%, rgba(248,80,50,1)), color-stop(100%, rgba(231,56,39,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(45deg, rgba(248,80,50,1) 37%, rgba(231,56,39,1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(45deg, rgba(248,80,50,1) 37%, rgba(231,56,39,1) 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(45deg, rgba(248,80,50,1) 37%, rgba(231,56,39,1) 100%); /* ie10+ */
            background: linear-gradient(45deg, rgba(248,80,50,1) 37%, rgba(231,56,39,1) 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f85032',GradientType=1 ); /* ie6-9 */
            position: fixed;
            top:0px;
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hidden{
            display: none;
        }

        .fbb:hover{
            transform: translate(-5px);
        }

        .more{
            
            font-family: 'Rajdhani', sans-serif; 
            color: rgba(255,255,255,0.7); 
            font-size: 20pt; 
            display: inline;
            border: 3px solid rgba(205,30,63,1);
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            
        }

        .about_cont{
            width: 70%; 
            color: rgba(255,255,255,0.7); 
            font-family: 'Open Sans', sans-serif; 
            font-size: 11pt; 
            text-align: justify;
        }
        .logo{
            padding-top: 300px; 
            padding-bottom: 50px;
        }
        .contact_list{
            padding-left: 100px;
        }

        .boxx{
            min-width: 50%;
            float: right; 
            min-height: 400px; 
            background: #2b3e51; 
            color: rgba(255,255,255,0.9);

        }

        /*
        .contact_main{
            min-width: 100%;
            min-height: 400px; 
            background: #ecf0f1;
        }*/
        .pop_in{
            padding-left: 20%; 
            padding-right: 20%
        }

        @media only screen and (max-width: 600px){
            .crd{
                min-width: 300px;
                width: 300px;

            }


            .cont .logo{
                max-width: 100%;
                max-height: auto;
                display: block;
                padding-left: 15px;
                padding-right: 15px;
            }
            .about_cont{
                width: 90%;
            }

            .logo{
                transform: translate(0px, 20px);
                padding-top: 200px;
            }
            .contact_list{
                padding-left: 30px;
            }
            .boxx{
                float: none;
                min-width: 100%;
                display: none;
            }
            .main_color{
                padding-bottom: 0px;
            }
            .pop_in{
                overflow: scroll;
                padding-left: 5%; 
                padding-right: 5%;
                width: 100%;
                height: 400px;
            }
            
            .contact1{
                display: none;
                min-height: 0px;
                max-height: 0px;
            }

            .vid{
                max-width: 100%;
                max-height: auto;
                display: block;
            }

        }


   
   