.wrapper {
    width: 100%;
    background-color: lightcyan;
}

img {
    background-image: url(pic_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#text {
    z-index:100;
    position:absolute;    
    color:white;
    font-size:100px;
    font-weight:bold;
    left:150px;
    top:350px;
}

.title_name{
    background-image: url("C:/Users/HEMANTH KUMAR P/Documents/Echora2.0/Images/back9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    height: 550px;
    margin-top: 0px;
    z-index: -1;
    color: white;
    position:relative;
    background-position: center center;
}

.heading_row{
    padding-top: 80px;
    text-align: center;
    font-family: 'Montaga', serif;
    font-weight: 900;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    color: black;
}

.paragraphs{
    font-size: 30px;
    color: rgb(230, 230, 230);  
    font-family: 'Bellefair', serif;
    color: black;
}

.bala{
    height: 120px;
    width: 120px;
}

.nirmala{
    height: 120px;
    width: 120px;
}

.prakasha{
    height: 120px;
    width: 120px;
}

.puttu{
    height: 120px;
    width: 120px;
}

.nata{
    height: 120px;
    width: 120px;
}

.blessing{
    background-image: url("C:/Users/HEMANTH KUMAR P/Documents/Echora2.0/Images/back.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-bottom: 0px;
    font-family: 'Bellefair', serif;
}

#h1{
    font-size: 100px;
}

.namesrow{
    font-family: 'Bellefair', serif;
}
